<div class="map-toolbar">
  <label>Base:</label>
  <select [value]="selectedBase" (change)="changeBase($any($event.target).value)">
    <option value="osm">OpenStreetMap</option>
    <option value="stamen">Stamen Toner</option>
    <option value="carto">CartoDB Light</option>
    <option value="google">Google (demo)</option>
  </select>

  <button nz-button nzType="default" (click)="addMarker([21.04,105.83],'New','New marker')">Add Marker</button>
  <button nz-button nzType="default" (click)="clearMarkers()">Clear</button>
  <button nz-button nzType="dashed" (click)="generateClusterDemo(1000)">Cluster 1000</button>
  <button nz-button nzType="primary" (click)="startMovingMarker()">Start Moving Marker</button>
</div>
<div class="map-wrapper">
  <!-- Map -->
  <div id="map" class="map-container"></div>

  <!-- Panel thông tin marker -->
  <div class="marker-info" *ngIf="selectedMarker">
    <h3>{{ selectedMarker.title }}</h3>
    <p><b>Trạng thái:</b> {{ selectedMarker.status || 'Đang dừng' }}</p>
    <p><b>Thông tin:</b> {{ selectedMarker.info || ' không có thông tín'}}</p>
    <p><b>Tọa độ:</b> {{ selectedMarker.lat | number:'1.6-6' }}, {{ selectedMarker.lng | number:'1.6-6' }}</p>
    <button nz-button nzType="default" (click)="selectedMarker = null">Đóng</button>
  </div>
</div>
