<nz-layout *ngIf="auth.isLoggedIn && !isLoginPage; else onlyContent">
    <nz-sider nzWidth="220px" class="site-sider" [nzTheme]="'dark'" nzCollapsible>
        <!-- logo -->
        <div class="logo">
            <img src="assets/logo.png" alt="logo" />
        </div>

        <!-- menu chính -->
        <nz-menu nzMode="inline" [nzTheme]="'dark'" nzInlineCollapsed="false">
            <nz-menu-item routerLink="/map" nzIcon="global">Bản đồ</nz-menu-item>
            <nz-menu-item routerLink="/driver" nzIcon="car">Lái xe</nz-menu-item>
        </nz-menu>

        <!-- phần dưới: user info -->
        <div class="user-info">
            <div class="username">
                <i nz-icon nzType="user"></i>
                <strong *ngIf="(user$ | async) as u">{{ u.name }}</strong>
            </div>
            <button nz-button nzType="link" (click)="logout()" class="logout-btn">
                <i nz-icon nzType="logout"></i> Đăng xuất
            </button>
        </div>
    </nz-sider>

    <nz-layout>
        <nz-header class="site-header"></nz-header>
        <nz-content class="site-content">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>

<!-- layout cho login -->
<ng-template #onlyContent>
    <router-outlet></router-outlet>
</ng-template>