<nz-layout *ngIf="auth.isLoggedIn && !isLoginPage; else onlyContent">
    <nz-sider nzWidth="220px" class="site-sider" [nzTheme]="'light'">

        <!-- menu chính -->
       <ul nz-menu nzMode="inline" [nzTheme]="'light'" nzInlineCollapsed="false">
            <li nz-menu-item routerLink="/map">
                <i nz-icon nzType="global"></i>
                <span>Bản đồ</span>
            </li>
            <li nz-menu-item routerLink="/driver">
                <i nz-icon nzType="car"></i>
                <span>Lái xe</span>
            </li>
        </ul>
        <!-- phần dưới: user info -->
        <div class="user-info">
            <div class="username">
                <i nz-icon nzType="user"></i>
                <strong *ngIf="(user$ | async) as u">{{ u.name }}</strong>
            </div>
            <button nz-button nzType="link" (click)="logout()" class="logout-btn">
                <i nz-icon nzType="logout"></i> Đăng xuất
            </button>
        </div>
    </nz-sider>

    <nz-layout>
        <nz-content class="site-content" > 
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>

<!-- layout cho login -->
<ng-template #onlyContent>
    <router-outlet></router-outlet>
</ng-template>